.create-url-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 60px;
    border: 1px solid red;
    width: 95%;
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.create-url-upper form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.create-url-upper input{
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #ccc;
    background: none;
    border-bottom: 1px solid rgb(7, 13, 84);
    height: 40px;
    width: 60%;
    padding: 0 10px;
}

.create-url-upper button{
    border: none;
    outline: none;
    background: #1e88e5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.create-url-upper button:hover{
    background: #1565c0;
}