/node_modules
/secret.txt
/backend/config/config.env
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js


/frontend/coverage


/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/features.md