.navbar{
    background-color: #03031f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.145);
}

.navbar__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.navbar__links ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar__links ul li{
    list-style: none;
    padding: 20px 40px;
    font-size: 2rem;
}

.navbar__links ul li a{
    text-decoration: none;
}

.navbar__links ul li a:hover{
    color: #9880ff;
}