.credit-page{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 80vh;
    width: 100%;
    background-color: #03031f;
    padding: 60px 0;
}

.credit-page h1{
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: blueviolet;
}

.credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #03031f;
    padding: 60px 0;
}

.credits a{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
}